node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.DS_Store
*.log
.expo
.expo-shared
dist
build
android/build
ios/build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build

